/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* VARIABLES */

:root {
    /* PALETA DE COLORES */

    --primary: #000064;
    --secondary: #54595F;
    --light: #FDFDFD;
    --accent: #0707AD;
    --text: #fff;

    /* TAMAÑOS DE FUENTES */

    --text-xxl: 4.8em;
    --text-xl: 3.6em;
    --text-lg: 3.2em;
    --text-md: 2.0em;
    --text-sm: 1.6em;
    --text-xs: 1.2em;

    /* SPACIADORES */

    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;
}

/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;;
    color: var(--text);
    background-image: url(../img/BackgroundBig.jpg);
    background-attachment: scroll;
}

ul {
    list-style-type: none;
}

a {
    font-size: var(--text-sm);
    color: var(--light);
    text-decoration: none;
}

h2 {
    font-size: var(--text-xl);
    font-weight: normal;

}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.enlace__entrar {
    font-weight: bold;
}

/* HEADER */

header {
    background-image: url(../img/BackgroundBig.jpg);
    padding: var(--sp-xs);
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar .menu {
    display: flex;
    gap: var(--sp-xs);
    flex-wrap: wrap;
    align-items: center;
}

.navbar .navbar__link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar .navbar__link .navbar__link__img {
    width: 387px;
    height: 116px;
}

.navbar .menu .menu__link {
    padding: var(--sp-xs);
    transition: all .3s ease-in-out;
}

.navbar .menu .menu__link:hover {
    background-color: var(--light);
    color: var(--accent);
}














/* MEDIAS QUERYS */

@media screen and (max-width: 768px) {
    .navbar {
    flex-direction: column;
    align-items: center;
    }

    .navbar .menu {
    justify-content: center;
    }
}


/* BODY */

.titulo__principal {
    font-size:  var(--text-xxl);
    padding: var(--sp-md) var(--sp-md);
}

#calendario {
    padding: var(--sp-md);
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    background-color: var(--primary);
}

.foto__copa {
    width: 324px;
    height: 324px;
}

.calendario__articulo {
flex-wrap: wrap;
padding: var(--sp-sm);
}

.divisor__vertical {
    display: flex;
    margin: var(--sp-sm);
    height: 324px;
}

.divisor__horizontal__largo {
    display: flex;
    margin: var(--sp-sm) var(--sp-sm) var(--sp-sm) 0;
    width: 95px;
}

.divisor__horizontal__corto {
    display: flex;
    margin: var(--sp-sm) var(--sp-sm) var(--sp-sm) 0;
    width: 74px;
}

#estadios {
    padding: var(--sp-md);
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    background-color: var(--primary);
}

.estadio--1 {
    width: 324px;
    height: 324px;
}

.estadios__articulo {
    flex-wrap: wrap;
    padding: var(--sp-sm);
}

#equipos {
    padding: var(--sp-md);
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    background-color: var(--primary);
}

.equipos__articulo {
    flex-wrap: wrap;
    padding: var(--sp-sm);
}

.foto__formacion {
    display: flex;
    justify-content: flex-start;
    width: 452px;
    height: 254px;
}

/* ESTADIOS */

#galeria__estadios {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: var(--sp-md);
}

.galeria__estadios__img--1 {
    grid-column: span 4;
    grid-row: 1;
}

.galeria__estadios__img--2 {
    grid-column: span 4;
    grid-row: 2;
}
.galeria__estadios__img--3 {
    grid-column: span 4;
    grid-row: 3;
}

.galeria__estadios__img--4 {
    grid-column: span 4;
    grid-row: 4;
}

.galeria__estadios__img--5 {
    grid-column: span 4;
    grid-row: 5;
}

.galeria__estadios__img--6 {
    grid-column: span 4;
    grid-row: 6;
}

.galeria__estadios__img--7 {
    grid-column: span 4;
    grid-row: 7;
}

.galeria__estadios__img--8 {
    grid-column: span 4;
    grid-row: 8;
}

.galeria__estadios__img--9 {
    grid-column: span 4;
    grid-row: 9;
}

.galeria__estadios__img--10 {
    grid-column: span 4;
    grid-row: 10;
}

.galeria__estadios__img--11 {
    grid-column: span 4;
    grid-row: 11;
}

.galeria__estadios__img--12 {
    grid-column: span 4;
    grid-row: 12;
}

.galeria__estadios__img--13 {
    grid-column: span 4;
    grid-row: 13;
}

.galeria__estadios__articulo--1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 1;
}

.galeria__estadios__articulo--2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 2;
}
.galeria__estadios__articulo--3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 3;
}

.galeria__estadios__articulo--4 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 4;
}

.galeria__estadios__articulo--5 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 5;
}

.galeria__estadios__articulo--6 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 6;
}

.galeria__estadios__articulo--7 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 7;
}

.galeria__estadios__articulo--8 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 8;
}

.galeria__estadios__articulo--9 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 9;
}

.galeria__estadios__articulo--10 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 10;
}

.galeria__estadios__articulo--11 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 11;
}

.galeria__estadios__articulo--12 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 12;
}

.galeria__estadios__articulo--13 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-column: span 8;
    grid-row: 13;
}

/* EQUIPOS */

#galeria__equipos {
    background-color: var(--light);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 2fr, 1fr);
    gap: var(--sp-sm);
}

.galeria__fondo {
    background-color: var(--light);
    opacity: 0.5;
}

.galeria__equipos__img--1 {
    grid-column: span 3;
    grid-row: 1;
}

.galeria__equipos__frase--1 {
    grid-column: span 3;
    grid-row: 2;
}

.galeria__equipos__img--2 {
    grid-column: span 3;
    grid-row: 1;
}

.galeria__equipos__frase--2 {
    grid-column: span 3;
    grid-row: 2;
}

.galeria__equipos__img--3 {
    grid-column: span 3;
    grid-row: 1;
}

.galeria__equipos__frase--3 {
    grid-column: span 3;
    grid-row: 2;
}

.galeria__equipos__img--4 {
    grid-column: span 3;
    grid-row: 1;
}

.galeria__equipos__frase--4 {
    grid-column: span 3;
    grid-row: 2;
}

.galeria__equipos__img--5 {
    grid-column: span 3;
    grid-row: 3;
}

.galeria__equipos__frase--5 {
    grid-column: span 3;
    grid-row: 4;
}

.galeria__equipos__img--6 {
    grid-column: span 3;
    grid-row: 3;
}

.galeria__equipos__img--7 {
    grid-column: span 3;
    grid-row: 3;
}

.galeria__equipos__img--8 {
    grid-column: span 3;
    grid-row: 3;
}

.galeria__equipos__img--9 {
    grid-column: span 3;
    grid-row: 5;
}

.galeria__equipos__img--10 {
    grid-column: span 3;
    grid-row: 5;
}

.galeria__equipos__img--11 {
    grid-column: span 3;
    grid-row: 5;
}

.galeria__equipos__img--12 {
    grid-column: span 3;
    grid-row: 5;
}

.galeria__equipos__img--13 {
    grid-column: span 3;
    grid-row: 7;
}

.galeria__equipos__img--14 {
    grid-column: span 3;
    grid-row: 7;
}